.container {
    display: flex;
    margin: 0px 30px;
}

.network {
margin:0px}

.moreStats {
    margin-left:auto;
}

.current {
    background:#00D1FF;
    border-radius: 100px;
    padding: 8px 18px;
    margin: 0px 2px;
}

.inactive {
    color: #00D1FF;
    border-radius: 100px;
    padding: 8px 18px;
    margin: 0px 2px;
    background: transparent;
}

.advancedStats {
    border-radius: 100px;
    background: #131619;
    color: white;
    padding: 8px 18px;
    margin: 0px 2px;
}