.navContainer {
    display: flex;
    margin: 0px 30px;
    box-sizing: border-box;
}

.navNetwork {
    margin:20px;
}

.navMoreStats {
    margin: 20px 20px 20px auto;  
}

.navMoreStats a {
    color:white;
    text-decoration: none;
}


.navCurrent {
    background:#00D1FF;
    border-radius: 100px;
    padding: 8px 18px;
    margin: 0px 2px;
    border: none;
}

.navInactive {
    color: #00D1FF;
    border-radius: 100px;
    padding: 8px 18px;
    margin: 0px 2px;
    background: transparent;
    border: none;
}

.navAdvancedStats {
    border-radius: 100px;
    background: #131619;
    color: white;
    padding: 8px 18px;
    margin: 0px 2px;
    border: none;
}