.navContainer {
    display: flex;
    margin: 0 1.25rem;
    box-sizing: border-box;
}

.navNetwork {
    margin:1.25rem;
}

.navMoreStats {
    margin: 1.25rem 1.25rem 1.25rem auto;  
}

.navMoreStats a {
    color:white;
    text-decoration: none;
    font-size: 0.875rem;
}


.navCurrent {
    background:#00D1FF;
    border-radius: 6.25rem;
    padding: 0.5rem 1.125rem;
    margin: 0 0.125rem;
    border: none;
    font-size: 0.875rem;
}

.navInactive {
    color: #00D1FF;
    border-radius: 6.25rem;
    padding: 0.5rem 1.125rem;
    margin: 0 0.125rem;
    background: transparent;
    border: none;
    font-size: 0.875rem;
}

.navAdvancedStats {
    border-radius: 6.25rem;
    background: #131619;
    color: white;
    padding: 0.5rem 1.125rem;
    margin: 0 0.125rem;
    border: none;
}

@media(max-width: 600px){
    .navContainer {
        flex-direction: column-reverse;
    }

    .navMoreStats {
        justify-content: center;
        margin: auto;
        padding: 0.5rem 0 0;
    }

    .navNetwork {
        margin: 0.5rem;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
    }

    .navMoreStats a {
        font-size: 0.875rem
    }

    .navCurrent {
        font-size: 0.875rem;
    }

    .navInactive {
        font-size: 0.875rem;
    }
    
  }