.footer {
    display: flex;
    padding: 1rem;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.4)
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding: 0.25rem 0.25rem 1rem 0.25rem;
    margin: 0;

}



.li {
    padding: 0.25rem;
}

.li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

.footerText {
    font-size: 0.875rem;
    text-align: center;
    margin: 1rem 0.25rem;
}

.iconBar {
    background: linear-gradient(320.66deg, #030B12 14.75%, #1C1F22 84.81%);
    border-radius: 2.125rem;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0 0.5rem;
    margin: 0;
}

.iconItem {
    padding: 0.5rem 0.625rem;
}