.mainTable {
    border-collapse: collapse;
    border-spacing: 2rem;
    table-layout: fixed;
    width:29rem;
    height: 16.25rem;
    background: rgba(16,16,78,1);
   }
   
   .headRow {
       color: #828295;
       font-size: 1rem;
   }
   .headKey {
       text-transform: capitalize;
       font-weight: bold;
       text-align: left;
       padding: 1rem;
       border-bottom: 1px solid #828295;
   }
   
   .mainRow {
       color: #ffffff;
       font-size:1rem;
   }
   
   .mainKey {
       text-transform: capitalize;
       text-align: left;
       border-bottom: 0.0625rem solid #828295;
       padding: 1rem 0;
   }
   
   .LYRA {
    color: white;
}

.LYRA::before {
    content: url(../../../../public/lyraLogo.svg);
    padding-right: 1rem;
}

.KWENTA {
    color: white;
}

.KWENTA::before {
    content: url(../../../../public/kwentaLogo.svg);
    padding-right: 1rem;

}

.THALES::before {
    content: url(../../../../public/Thales.png);
    padding-right: 1rem;
    margin-right: 8px;
    margin-top: 2px;
}

.THALES {
    color:azure;

}

.oneInch {
    color: white;
}

.oneInch::before {
    content: url(../../../../public/3oneInch.svg);
    padding-right: 1rem;

}

.CURVE {
    color: white;
}

.CURVE::before {
    content: url(../../../../public/CURVE.svg);
    padding-right: 1rem;

}

.DHEDGE {
    color: white;
}

.DHEDGE::before {
    content: url(../../../../public/dhedge.svg);
    padding-right: 1rem;

}

.ENZYME {
    color: white;
}

.ENZYME::before {
    content: url(../../../../public/enzyme.svg);
    padding-right: 1rem;

}

.YEARN {
    color: white;
}

.YEARN::before {
    content: url(../../../../public/yearn.svg);
    padding-right: 1rem;

}

.OTHER {
    color: white;
}

.OTHER::before {
    content: url(../../../../public/other.svg);
    padding-right: 1rem;

}

.SADDLE {
    color: white;
}

.SADDLE::before {
    content: url(../../../../public/saddle.svg);
    padding-right: 1rem;

}

.ibAMM {
    color: white;
}

.ibAMM::before {
    content: url(../../../../public/ibamm.svg);
    padding-right: 1rem;

}

.SX {
    color: white;
}

.SX::before {
    content: url(../../../../public/other.svg);
    padding-right: 1rem;
}
   
   .chartButton {
       background: transparent;
       border: none;
       color: #00D1FF;
       font-size: 2rem;
      }
   
   @media(max-width: 960px){
       .mainTable {
         margin:0;
         padding:0;
         width:fit-content;
       }
   }
   