.TTwrap {
    background: #10104E;
    padding: 1rem;
    border-radius: 0.875rem;

}

.TTlabel {
    background:rgba(130, 130, 149, 0.3);
    width: 5rem;
    border-radius: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0.25rem;
}

.TTheading {
    font-size: 0.75rem;
    color: #828295;
    font-weight: 700;
    margin:0;
    padding-bottom: 0.25rem;
}



.TTtvl {
    font-size: 1rem;
    font-weight: 700;
    color: white; 
    padding: 0;
    margin: 0;
    padding-bottom: 0.5rem;

}

.TTdebt {
    font-size: 1rem;
    font-weight: 700;
    color: #31D8A4;
    padding: 0;
    margin: 0;
    padding-bottom: 0.5rem;

}

.TTwrapper {
    font-size: 1rem;
    font-weight: 700;
    color: #ED1EFF;
    padding: 0;
    margin: 0;
}