.container {
  grid-area: tvl;
  background: #0b0b22;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  border: 0.125rem solid #13f2f2;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);

}

.topBar {
  display: flex;
  padding: 1rem 2rem 0;
}

.titleRow {
  display: flex;
}

.icon {
  margin: 0 0.5rem;
  align-self: center;
  font-size: 1.125rem;
}

.values {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
  background: linear-gradient(73.6deg, #85FFC4 2.11%, #5CC6FF 90.45%);;
  background-clip:text;
  color: transparent;
  font-weight: 700;
}

.tvl {
  font-size: 1.125rem;
  color: #ffffff;
  margin: 0;
}

.selectors {
  margin-left: auto;
}

.button {
  background: #00d1ff;
  border-radius: 6.25rem;
  padding: 0.5rem 1.125rem;
  margin: 0 0.125rem;
  border: none;
  font-size: 0.75rem;
}

.inactive {
  color: #00d1ff;
  padding: 0.5rem 1.125rem;
  margin: 0 0.125rem;
  background: transparent;
  border: none;
  font-size: 0.75rem;
}

.responsive {
  width: 100%;
  height: 18.75rem;
  margin: 0;
}

.bottom {
  display: flex;
}

.debtPool {
  padding: 0 0.625rem;
  margin: 0 1.25rem;
}

.wrapper {
  padding: 0 0.625rem;
  margin: 0 1.875rem;
}

.stakingColor {
  color: #41c79d;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
}

.wrapperColor {
  color: #ed1eff;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0;
}

.debtWrapVal {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.25rem 0;
}

.mobileMenu {
  display: none;
}

@media (max-width: 960px) {
  .tvl {
    font-size: 0.875rem;
    width: max-content;
  }

  .mobileMenu {
    display: block;
  }

  .mainMenu {
    display: none;
  }

  .container {
    padding: 1rem 0;
  }

  .topBar {
    padding: 0 1rem;
  }

  .values {
    font-size: 1.5rem;
  }

  .bottom {
    display: flex;
    justify-content: space-around;
  }
  
  .debtPool {
    padding: 0;
    margin: 0;
  }
  
  .wrapper {
    padding: 0;
    margin: 0;
  }
}
