.container {
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: 30px;
}

.heading {
    font-size: 40px;
    line-height: 40px;
    color:#FFFFFF;
}

.description {
    line-height: 1.5em;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 15rem;
}