.mainTable {
 border-collapse: collapse;
 border-spacing: 2rem;
 width: 100%;
 table-layout: fixed;
 height: 20rem;
}

.mainBody {
    height: 12.875rem;
}

.theDiv {
    display:flex;
    justify-content: flex-end;
}
.headRow {
    color: #828295;
    font-size: 0.75rem;
}
.headKey {
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0 0.5rem;
    border-bottom: 0.0625rem solid #828295;
}

.mainRow {
    color: #ffffff;
    font-size:clamp(0.875rem, 1vmax, 1rem);
    font-weight: 700;
}

.mainKey {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 0.0625rem solid #828295;
    padding: 1rem 0;
}

.protocolCell {
    text-transform: capitalize;
    text-align: left;
    vertical-align: middle;
    border-bottom: 0.0625rem solid #828295;
    padding: 0.5rem 0;
    font-weight: 400;
}

.nOfTradesCell {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 0.0625rem solid #828295;
    padding: 1rem 0;
}

.volumeCell {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 0.0625rem solid #828295;
    padding: 1rem 0;
}

.LYRA {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.LYRA::before {
    content: url(../../../public/lyraLogo.svg);
}

.KWENTA {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.KWENTA::before {
    content: url(../../../public/kwentaLogo.svg);

}

.THALES::before {
    content: url(../../../public/Thales.png);
    padding-right: 1rem;
    margin-right: 8px;
    margin-top: 2px;
}

.THALES {
    color:azure;

}

.oneInch {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.oneInch::before {
    content: url(../../../public/3oneInch.svg);

}

.CURVE {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.CURVE::before {
    content: url(../../../public/CURVE.svg);

}

.DHEDGE {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.DHEDGE::before {
    content: url(../../../public/dhedge.svg);

}

.ENZYME {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.ENZYME::before {
    content: url(../../../public/enzyme.svg);

}

.YEARN {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.YEARN::before {
    content: url(../../../public/yearn.svg);

}

.OTHER {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.OTHER::before {
    content: url(../../../public/other.svg);

}

.SADDLE {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.SADDLE::before {
    content: url(../../../public/saddle.svg);

}

.ibAMM {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.ibAMM::before {
    content: url(../../../public/ibamm.svg);

}

.SX {
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.SX::before {
    content: url(../../../public/other.svg);
}

.chartButton {
    background: transparent;
    border: none;
    color: #00D1FF;
    font-size: 1.25rem;
    padding: 0.5rem 0;
   }

.chartButton[disabled] {
    color: #828295;

}

   .tableNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .tableNavKey {
    color: #828295;
    font-size: 0.875rem;

   }



   .bottom {
    text-align: right;
    letter-spacing: 0.15rem;
    margin: 1rem 0 0 0;
}

   .bottomTitle {
    color: #828295;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.totalTrades {
    font-size: 1.75rem;
    font-weight:700;
    color: white;
    margin: 0.5rem 0;
}

.totalVolume {
    font-size: 1.75rem;
    font-weight: 700;
    color: #31D8A4;
    margin: 0.5rem 0;
}

.sorted{
    padding: 0 0 0 0.25rem;
}

.numTradeCell {
    text-align: center;
}

@media(max-width: 960px){
    .mainTable {
      margin:0;
      padding:0;
    }

    .SX {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .SX::before {
        content: url(../../../public/other.svg);
    
    }

    .LYRA {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .LYRA::before {
        content: url(../../../public/lyraLogo.svg);
       
    }
    
    .KWENTA {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .KWENTA::before {
        content: url(../../../public/kwentaLogo.svg);
    
    }
    
    .THALES::before {
        content: url(../../../public/Thales.png);
        margin-right: 8px;
        margin-top: 2px;
    }
    
    .THALES {
        color:azure;
        display:flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .oneInch {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .oneInch::before {
        content: url(../../../public/3oneInch.svg);
    
    }
    
    .CURVE {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .CURVE::before {
        content: url(../../../public/CURVE.svg);
    
    }
    
    .DHEDGE {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .DHEDGE::before {
        content: url(../../../public/dhedge.svg);
    
    }
    
    .ENZYME {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ENZYME::before {
        content: url(../../../public/enzyme.svg);
    
    }
    
    .YEARN {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .YEARN::before {
        content: url(../../../public/yearn.svg);
    
    }
    
    .OTHER {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .OTHER::before {
        content: url(../../../public/other.svg);
    
    }
    
    .SADDLE {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .SADDLE::before {
        content: url(../../../public/saddle.svg);
    
    }
    
    .ibAMM {
        color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ibAMM::before {
        content: url(../../../public/ibamm.svg);
    
    }
    
}
