.mainTable {
    border-collapse: collapse;
    border-spacing: 2rem;
    table-layout: auto;
    width: fit-content;
    margin:auto;
   }

.mainBody {
    height:14.875rem;
}
   
   .headRow {
       color: #828295;
       font-size: 0.75rem;
   }
   .headKey {
       text-transform: capitalize;
       font-weight: bold;
       text-align: center;
       padding: 1rem;
   }
   
   .mainRow {
       color: #ffffff;
   }
   
   .mainKey {
       text-transform: capitalize;
       text-align: center;
       padding: 1rem;
   }

   .chartButton {
    background: transparent;
    border: none;
    color: #00D1FF;
    font-size: 2rem;
    padding: 0 0 0 1rem;
   }

   .KWENTA {
    color: #FFD75C;
   }

   .CURVE {
    color: #ED1EFF;
   }

   .oneInch {
    color:#00D1FF;
   }

   .LYRA {
    color:#31D8A4;
   }

   .DHEDGE {
    color:#FC8738;
   }

   .SX {
    color:#0B03FC
   }

   .ENZYME {
    color:#FC03E3
   }

   .ibAMM {
    color:#20FC03
   }

   .YEARN {
    color:#03FCA5;
   }

   .SADDLE {
    color:#9403FC
   }

   .OTHER {
    color:#21CDFC
   }

   .ZERO {
    color:#FC0303
   }
  
   .sorted{
    padding: 0 0 0 0.25rem;
}

.valueCell {
    font-size: clamp(0.875rem, 1vw, 1.25rem);
    font-weight: 700;
    color: white;
}

.feeCell {
    font-size: clamp(0.875rem, 1vw, 1.25rem);
    font-weight: 700;
}
   
   @media(max-width: 960px){
       .mainTable {
         margin:0;
         padding:0;
         width: 100%;
       }
   }
   