.mainTable {
    border-collapse: collapse;
    border-spacing: 2rem;
    width: 100%;
    table-layout: auto;
   }
   
   .headRow {
       color: #828295;
       font-size: 1rem;
   }
   .headKey {
       text-transform: capitalize;
       font-weight: bold;
       text-align: left;
       padding: 1rem;
   }
   
   .mainRow {
       color: #ffffff;
       font-size:1.5rem;
   }
   
   .mainKey {
       text-transform: capitalize;
       text-align: left;
       padding: 1rem;
   }
   
  
   
   @media(max-width: 960px){
       .mainTable {
         margin:0;
         padding:0;
       }
   }
   