.wrapper {
  grid-area: inflation;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    linear-gradient(73.6deg, #8e2de2 2.11%, #ed1eff 90.45%);
  display: flex;
  flex-direction: row;
  border-radius: 0.625rem;
  padding: 1rem 2rem 0;
  border: 0.125rem solid #ed1eff;
}

.inflationTitle {
  font-size: 0.875rem;
  font-weight: 700;
  width:max-content;
  margin: 0;
}

.titleRow {
  display: flex;
}

.icon {
  margin: 0 0.5rem;
  align-self: center;
  font-size: 1.125rem;
}

.subtitle {
  color: #828295;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.currentEpoch {
  color: #ed1eff;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.toDate {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.keyWrap {
  padding: 0 1rem 0 0;
}

@media (max-width: 960px) {
  
  .wrapper {
    flex-direction: column;
    margin: 0;
    padding: 1rem;
  }

  .subtitle {
    margin: 1rem 0 0 0;
  }
}
