.wrapper {
    grid-area: moreStats;
    background: top url(../../../public/moreStatsBg.svg),#201864;
    border-radius: 0.625rem;
    padding: 1rem 2rem 0;
    border: 0.125rem solid #ed1eff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
  }
  /* linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
      #402fc8 
      
      no-repeat top url(../../../public/moreStatsBg.svg),#201864;
      */
  
  .statstitle {
    color: white;
    text-transform: capitalize;
    margin: 0.5rem 0;
  }

  .linkWrap {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0;

  }
  
  .styledp {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    width: 15rem;
  }
  
  .advancedbutton {
    border-radius: 6.25rem;
    background: linear-gradient(311.52deg, #3D464C -36.37%, #131619 62.81%);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.9);
    color: white;
    padding: 0.5rem 1.125rem;
    margin: 0px 2px;
    border: 0.0625rem solid black;
    width: 10rem;
  }
  
  .advancedbutton a {
    color:white;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @media(max-width: 960px){
    .wrapper {
        padding: 1rem 0.5rem;
    }

    .advancedbutton a {
      font-size: 0.75rem;
    }
  
    .linkWrap {
      padding: 1rem;
    }
  }