.wrapper {
    grid-area: moreStats;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
      #402fc8;
    border-radius: 0.625rem;
    padding: 1rem 2rem 0;
    border: 0.125rem solid #ed1eff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
  }
  
  .statstitle {
    color: white;
    text-transform: capitalize;
    margin: 0.5rem;
  }

  .linkWrap {
    display: flex;
    justify-content: space-evenly;
    padding: 0.25rem 0;

  }
  
  .styledp {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    width: 15rem;
  }
  
  .advancedbutton {
    border-radius: 6.25rem;
    background: #131619;
    color: white;
    padding: 0.5rem 1.125rem;
    margin: 0px 2px;
    border: none;
    width: 10rem;
  }
  
  .advancedbutton a {
    color:white;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
  }

  @media(max-width: 960px){
    .wrapper {
        padding: 1rem 0.5rem;
    }

    .advancedbutton a {
      font-size: 0.75rem;
    }
  
    .linkWrap {
      padding: 1rem;
    }
  }