
.container {

    display: grid;
    color: #f9f4f4;
    grid-template: auto / repeat(5,minmax(0,1fr));
    grid-template-areas:
     "snxStaked snxStaked tvl tvl tvl"
     "stakeAPY stakeAPY tvl tvl tvl"
     "numStaker numStaker numStaker numStaker numStaker"
     "trades trades inflation inflation inflation"
     "trades trades tradeFee tradeFee tradeFee"
     "moreStats moreStats tradeFee tradeFee tradeFee"
     "startStaking startStaking tradeFee tradeFee tradeFee";
     gap: 30px;
     margin: 30px;
}

@media(max-width: 768px){
    .container {
        grid-template: auto / 1fr;
        grid-template-areas: 
        "snxStaked"
        "stakeAPY"
        "tvl"
        "numStaker"
        "trades"
        "inflation"
        "tradeFee"
        "moreStats"
        "startStaking";;
    }
  }