html
{
  font-family: Arial, Helvetica, sans-serif;
 background: url(../assets/bACKGROUND.webp)
;
  box-sizing: border-box;
  background-color: #0B0B22;
  background-size: contain;
  width: 100%;
  height: auto;
}

body {
  max-width: 1920px;
  margin:auto;
  padding: 0 clamp(1rem, calc(1rem + 3vw), 5rem);
}

* {
  box-sizing: border-box;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
  }
}


