html
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(11, 11, 34, 1);
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

body {
  background: linear-gradient(
    to left,
    rgba(11, 11, 34, 0.95) 1%,
    rgba(0, 209, 255, 0.2),
    rgba(237, 30, 255, 0.2),
    rgba(11, 11, 34, 0.95) 99%
  ), center/50%
  url(../assets/bACKGROUND.webp);
  max-width: 1920px;
  margin:auto;

}

* {
  box-sizing: border-box;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 2560px) {
  html, body {
    margin: auto;
    padding: 0 5rem;
  }
}
